[Unit]
Description=COBalD - the Opportunistic Balancing Daemon for %I
Documentation=https://cobald.readthedocs.io
After=network.target
Wants=network-online.target
After=network-online.target

[Install]
RequiredBy=multi-user.target

[Service]
Type=simple
User=tardis
Group=tardis
WorkingDirectory=/home/tardis/FoldingAtHome
ExecStart=/home/tardis/FoldingAtHome/venv/bin/python3 -m cobald.daemon /home/tardis/FoldingAtHome/%i.yml
Restart=on-failure
RestartSec=30s
